/**
 * Overrides the default Tooltipster styles
 * 
 * Themes for specific usage is called by a
 * class added to the tooltipster-sidetip class.
 */

/*
 * Default DEITZ styles
 */

/* Default */
.tooltipster-sidetip .tooltipster-box,
.tooltipster-follower .tooltipster-box {
	background: #3c5ea2;
	border: solid 1px #fff;
	border-radius: 0.3em;
}

.tooltipster-sidetip.tooltipster-bottom .tooltipster-box,
.tooltipster-follower.tooltipster-bottom .tooltipster-box {
	margin-top: 0.8rem;
}

.tooltipster-sidetip.tooltipster-left .tooltipster-box,
.tooltipster-follower.tooltipster-left .tooltipster-box {
	margin-right: 0.8rem;
}

.tooltipster-sidetip.tooltipster-right .tooltipster-box,
.tooltipster-follower.tooltipster-right .tooltipster-box {
	margin-left: 0.8rem;
}

.tooltipster-sidetip.tooltipster-top .tooltipster-box,
.tooltipster-follower.tooltipster-top .tooltipster-box {
	margin-bottom: 0.8rem;
}

/* .tooltipster-content */
.tooltipster-sidetip .tooltipster-content,
.tooltipster-follower .tooltipster-content {
	color: #fff;
	font-family: 'freight-sans-compressed-pro', 'Ostrich', sans-serif;
	font-size: 2rem;
	line-height: 1;
	text-transform: uppercase;
	letter-spacing: 0.03em;
	padding: 0.5em;
}

/* .tooltipster-arrow : will keep only the zone of .tooltipster-arrow-uncropped that
corresponds to the arrow we want to display */
.tooltipster-sidetip .tooltipster-arrow {
	overflow: hidden;
	position: absolute;
}

.tooltipster-sidetip.tooltipster-bottom .tooltipster-arrow {
	height: 1rem;
	/* half the width, for centering */
	margin-left: -1rem;
	top: 0;
	width: 2rem;
}

.tooltipster-sidetip.tooltipster-left .tooltipster-arrow {
	height: 2rem;
	margin-top: -1rem;
	right: 0;
	/* top 0 to keep the arrow from overflowing .tooltipster-base when it has not
	been positioned yet */
	top: 0;
	width: 1rem;
}

.tooltipster-sidetip.tooltipster-right .tooltipster-arrow {
	height: 2rem;
	margin-top: -1rem;
	left: 0;
	/* same as .tooltipster-left .tooltipster-arrow */
	top: 0;
	width: 1rem;
}

.tooltipster-sidetip.tooltipster-top .tooltipster-arrow {
	bottom: 0;
	height: 1rem;
	margin-left: -1rem;
	width: 2rem;
}

/* common rules between .tooltipster-arrow-background and .tooltipster-arrow-border */
.tooltipster-sidetip .tooltipster-arrow-background, .tooltipster-sidetip .tooltipster-arrow-border {
	height: 0;
	position: absolute;
	width: 0;
}

/* .tooltipster-arrow-background */
.tooltipster-sidetip .tooltipster-arrow-background {
	border: 1.1rem solid transparent;
}

.tooltipster-sidetip.tooltipster-bottom .tooltipster-arrow-background {
	border-bottom-color: #3c5ea2;
	left: 0px;
	top: 0.3rem;
}

.tooltipster-sidetip.tooltipster-left .tooltipster-arrow-background {
	border-left-color: #3c5ea2;
	left: -0.3rem;
	top: 0px;
}

.tooltipster-sidetip.tooltipster-right .tooltipster-arrow-background {
	border-right-color: #3c5ea2;
	left: 0.3rem;
	top: 0px;
}

.tooltipster-sidetip.tooltipster-top .tooltipster-arrow-background {
	border-top-color: #3c5ea2;
	left: 0px;
	top: -0.3rem;
}

/* .tooltipster-arrow-border */
.tooltipster-sidetip .tooltipster-arrow-border {
	border: 0.9rem solid transparent;
	left: 0.15rem;
	top: 1px;
}

.tooltipster-sidetip.tooltipster-bottom .tooltipster-arrow-border {
	border-bottom-color: #fff;
}

.tooltipster-sidetip.tooltipster-left .tooltipster-arrow-border {
	border-left-color: #fff;
}

.tooltipster-sidetip.tooltipster-right .tooltipster-arrow-border {
	border-right-color: #fff;
}

.tooltipster-sidetip.tooltipster-top .tooltipster-arrow-border {
	border-top-color: #fff;
}

/* tooltipster-arrow-uncropped */
.tooltipster-sidetip .tooltipster-arrow-uncropped {
	position: relative;
}

.tooltipster-sidetip.tooltipster-bottom .tooltipster-arrow-uncropped {
	top: -1rem;
}

.tooltipster-sidetip.tooltipster-right .tooltipster-arrow-uncropped {
	left: -1rem;
}

/* Social Nav */
.tooltipster-sidetip.social-nav-tooltipster .tooltipster-box {
	box-shadow: 0.1em 0.1em 0.3em rgba(0,0,0,0.5);
}